<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--	
	마이바티스 참고 사이트
	  - http://blog.mybatis.org/
	  - http://www.mybatis.org/mybatis-3/ko/index.html
	  
	@Mapper 애노테이션이 적용된 인터페이스와 맵퍼 XML파일은
	namespace 속성으로 연결되기 때문에 맵퍼 XML의 namespace를
	지정할 때 @Mapper 애노테이션이 적용된 맵퍼 인터페이스의
	완전한 클래스 이름(패키지를 포함한 이름)을 지정하면 된다.   
-->
<mapper namespace="com.springbootstudy.bbs.mapper.BoardMapper" >
<select id="boardList" parameterType="map" resultType="Board">
SELECT
no,title,writer,content,reg_date AS regDate, read_count AS readCount, pass, file1
FROM springbbs
<where>
<if test="type == 'title'">
title LIKE CONCAT('%',#{keyword},'%')
</if>
<if test="type == 'writer'">
title LIKE CONCAT('%',#{keyword},'%')
</if>
<if test="type == 'content'">
title LIKE CONCAT('%',#{keyword},'%')
</if>
</where>
ORDER BY no DESC
LIMIT #{startRow},#{num}
</select>

<update id="incrementReadCount">
UPDATE springbbs
SET read_count=read_count+1
WHERE no=#{no}
</update>

<select id="getBoardCount">
SELECT COUNT(no) FROM springbbs
<where>
<if test="type == 'title'">
title LIKE CONCAT('%',#{keyword},'%')
</if>
<if test="type == 'writer'">
title LIKE CONCAT('%',#{keyword},'%')
</if>
<if test="type == 'content'">
title LIKE CONCAT('%',#{keyword},'%')
</if>
</where>
</select>

<select id="getBoard" resultType="Board">
SELECT * FROM springbbs WHERE no=#{no}
</select>

<insert id="insertBoard" parameterType="Board" useGeneratedKeys="true" keyProperty="no">
INSERT INTO springbbs(title,writer,content,reg_date, read_count,pass,file1)
VALUES(#{title},#{writer},#{content},SYSDATE(),#{readCount},#{pass},#{file1})
</insert>

<select id="isPassCheck">
SELECT
pass
FROM springbbs
WHERE no=#{no}
</select>

<update id="updateBoard" parameterType="Board">
UPDATE springbbs
SET title = #{title},content=#{content},
reg_date=SYSDATE()
WHERE no=#{no}
</update>

<delete id="deleteBoard">
DELETE FROM springbbs
WHERE no=#{no}
</delete>

<select id="replyList" resultType="Reply">
SELECT
no,
bbs_no AS bbsNo,
reply_content AS replyContent,
reply_writer AS replyWriter,
reg_date AS regDate
FROM reply
WHERE bbs_no=#{no}
ORDER BY no DESC
</select>

<update id="updateRecommend">
    UPDATE springbbs
    <set>
        <if test="recommend == 'commend'">
            recommend = recommend + 1
        </if>
        <if test="recommend == 'thank'">
            thank = thank + 1
        </if>
    </set>
    WHERE no = #{no}
</update>




<select id="getRecommend" resultType="Board">
SELECT recommend, thank
FROM springbbs
WHERE no=#{no}
</select>


<insert id="addReply" parameterType="Reply">
INSERT INTO reply(bbs_no, reply_content, reply_writer, reg_date)
VALUES(#{bbsNo}, #{replyContent}, #{replyWriter}, SYSDATE())
</insert>

</mapper>	



